<footer class="footer page-footer mt-auto py-3
navbar-fixed-bottom bordered rounded">
  <div class="d-flex flex-wrap justify-content-between row-cols-xl-2">

    <div class="col-12 align-content-center text-center d-inline p-2 ">
      <a  class="text-muted align-content-center font-weight-bold text-center text-decoration-none">
        © 2021 Všetky práva vyhradené pre Zuzana Škulcová
      </a>
    </div>

    <div class="col-12 d-flex justify-content-center container align-content-center">
        <img src="../../assets/logos/Logo.png" class="img-fluid" id="logoImg">
    </div>


    <div class="col-12 justify-content-center align-self-center flex-wrap d-flex">
      <div class="col-12 container d-flex align-self-center justify-content-center">
        <mat-icon svgIcon="google-maps" class="img-responsive"></mat-icon>
      </div>
      <div class="col-12 p-0 m-0 container d-flex flex-wrap justify-content-center align-content-center">
        <div class="col-12 text-muted text-center ">Nechtové štúdio Allegria</div>
        <div class="col-12 text-muted text-center ">Vlčince Obežná 6 </div>
        <div class="col-12 text-muted text-center ">01008 Zilina </div>
      </div>
    </div>


  </div>
</footer>
