<footer class="footer  flex-fill page-footer mt-auto py-3
navbar-fixed-bottom bordered rounded">
  <div class="d-flex justify-content-between row-cols-xl-2">
    <div class="float-left d-inline justify-content-md-center">
      <a class="pull-left img-fluid p-1 justify-content-md-center">
        <img src="../../assets/logos/Logo.png" class="img-responsive" id="logoImg">
      </a>
    </div>
    <div class="align-content-center text-center d-inline p-2 ">
      <a  class="text-muted align-content-center text-center text-decoration-none">
        © 2020 Všetky práva vyhradené. MF&MF
      </a>
    </div>
    <div class="float-right d-inline pr-4 d-flex">
      <div>
        <mat-icon svgIcon="google-maps" class="img-responsive"></mat-icon>
      </div>
      <div >
        <ul class="list-unstyled">
          <li class="align-content-center">
            <a class="text-muted text-center clearfix text-decoration-none">Nechtové štúdio Allegria</a>
            <a class="text-muted text-center clearfix text-decoration-none">Vlčince Obežná 6 </a>
            <a class="text-muted text-center clearfix text-decoration-none">01008 Zilina </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
