.example-tree-node {
  display: flex;
  align-items: center;
}

.modif-button {
  background-color: transparent !important;
  border: none !important;
}

#butt{
  background-color: transparent !important;
  border: none !important;
}
