<!--<body>-->
  <div class="col-12 container-fluid">
    <div class="col-12 container-fluid d-flex flex-wrap border">
      <h5 class="col-12">Falkturacne udaje</h5>
      <div class="col-12 text-decoration-none">Maria Foltanova</div>
      <div class="col-12 text-decoration-none">Obezna 6/65</div>
      <div class="col-12 text-decoration-none">Zilina 8</div>
      <div class="col-12 text-decoration-none">01 008</div>
      <h5 class="col-12">Dodacie udaje</h5>
      <a class="col-12 text-decoration-none">Maria Foltanova</a>
      <a class="col-12 text-decoration-none">Obezna 6/65</a>
      <a class="col-12 text-decoration-none">Zilina 8</a>
      <a class="col-12 text-decoration-none">01 008</a>
      <h6></h6>
      <a class="col-12 text-decoration-none">Email: foltan.milosml@gmail.com</a>
    </div>
  </div>

  <div class="col-12 mt-2 mb-2"></div>

<!--objednavane produkty-->
  <div class="col-12 container-fluid d-flex flex-wrap">
    <app-basket-item-small-info></app-basket-item-small-info>
  </div>

