<div class="col-12 container-fluid d-flex flex-wrap mb-3" id="htmlData">

  <div class="col-12 container-fluid d-flex m-0 p-0">
    <!--  obrazok-->
    <div class="col-3 p-0 m-0">
      <img src="assets/eshop/kozmetika.jfif" class="img-fluid img-item center">
    </div>
<!--    ostatne veci-->
    <div class="col-9 container d-flex m-0 p-">
      <div class="d-flex container col-8 flex-wrap m-0 p-0">
        <div class="col-12 m-0 p-0">Nazov produktu</div>
        <div class="text-muted col-12 m-0 p-0">Dodanie: zajtra rano</div>
      </div>
      <div class="col-4 container m-0 p-0 justify-content-center">
        <div class="col-12 m-0 p-0 text-muted">3 ks</div>
        <div class="col-12 m-0 p-0 text-muted">20.00 E</div>
      </div>
    </div>
  </div>

  <!--cast na platenie-->
  <div class="col-12 container d-flex flex-wrap mb-2 mt-2 justify-content-start">
    <div class="col-12 container d-flex m-0 p-0">
      <div class="col-8">Celkom bez dph</div>
      <div class="col-4">16.00 e</div>
    </div>
    <div class="col-12 container d-flex m-0 p-0">
      <div class="col-8 font-weight-bold">Celkom</div>
      <div class="col-4 font-weight-bold">20.00 e</div>
    </div>
  </div>

<!--  -->
  <button (click)="openPdf()">Odoslat s povinnostou platby</button>
</div>
