.item{
  //min-width: 226px !important;
}

.img-item {
  min-height: 80px !important;
  min-width: 80px !important;
}

.desc {
  font-size: 0.9rem;
}

h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
