<div class="container d-flex flex-wrap item float-left p-1 m-1 w-100 border">
  <div class="col-12 w-100">
    <img src="assets/eshop/kozmetika.jfif" class="img-fluid img-item center">
  </div>
  <div class="col-12">
    <h6 class="text-center">{{ insideShop.name }}</h6>
    <div class="row desc text-decoration-none text-muted text-center">
      Jemné čistiace mlieko pre normálnu a suchú pleť
    </div>
    <h6 class="text-center">20.00 Eur</h6>
    <button (click)="addItemToBasket(insideShop)" >Pridat do kosika</button>
  </div>
</div>


