<body class="min-vh-100 h-100 col-xs-12">
<!--<p>news works!</p>-->

<div class="container-fluid col-xs-12 pb-3">
  <div>
    <h2 class="text-center m-1 p-0">Novinky a oznamy</h2>
  </div>

  <table class="container-fluid">

    <tr class="col-xs-12 text-center m-1 justify-content-center">
      <!--    ARTICLE-->
      <div class="article-item col-xs-12 h-100">
        <div class="">
          <img class="img-thumbnail img mt-0 " src="assets/images/article_1.jpg">
<!--          <button class="absolute-button"> Button </button>-->
        </div>
        <div>
          <h5 class="p-2 m-0 col-xs-12 ">Milé zákazníčky !</h5>
        </div>
        <div class="col-xs-12 w-100 ">
          <a>
            Milé zákazníčky😇
            Všetkým vám prajeme úspešný rok 2021...💫
            Dnes sedím a premýšľam, čo nás čaká...čo nás neminie...
          </a>
        </div>
        <div class="mb-2 col-xs-12 h-100">
          <button class="w-100 h-100 pb-2 button-bottom text-center align-content-center">
            <a>Čítať viacej ...</a>
          </button>
        </div>
      </div>
    </tr>

    <tr class="col-xs-12 text-center m-1 justify-content-center">
      <!--    ARTICLE-->
      <div class="article-item col-xs-12 h-100">
        <div class="">
          <img class="img-thumbnail img mt-0 " src="assets/images/article_1.jpg">
          <!--          <button class="absolute-button"> Button </button>-->
        </div>
        <div>
          <h5 class="p-2 m-0 col-xs-12 ">Milé zákazníčky !</h5>
        </div>
        <div class="col-xs-12 w-100 ">
          <a>
            Milé zákazníčky😇
            Všetkým vám prajeme úspešný rok 2021...💫
            Dnes sedím a premýšľam, čo nás čaká...čo nás neminie...
          </a>
        </div>
        <div class="mb-2 col-xs-12 h-100">
          <button class="w-100 h-100 pb-2 button-bottom text-center align-content-center">
            <a>Čítať viacej ...</a>
          </button>
        </div>
      </div>
    </tr>

  </table>


</div>


</body>
