body {
  background-color: whitesmoke !important;
  justify-content: center !important;
}

.img {
  border-radius: 40px 40px 40px 0px !important;
  //max-width: 300px !important;
  //max-height: 300px !important;
}

//.img:hover {
//  opacity: 10% !important;


.absolute-button {
  position: relative;
  top: -214.375px;
  //height: 428.75px;
  opacity: 0% !important;
}

.absolute-button:hover {
  background-color: black !important;
}

.button-bottom {
  border-radius: 0px 0px 40px 40px !important;
  border: none;

  a {
    vertical-align: middle !important;
  }
}

#main-container {
  align-content: center !important;
  justify-self: center !important;
  max-width: 1000px !important;
  background-color: white !important;
}

.txt {
  text-align: left !important;
}

h2 {
  color:  #c9a459 !important;
}
h5 {
  color: #c9a459 !important; ;
}
