<body class="min-vh-100 h-100 col-xs-12">
<!--<p>news works!</p>-->

<div class="container-fluid pb-3" id="main-container">
  <div>
    <h2 class="text-center pt-2 font-italic">Novinky a oznamy</h2>
  </div>

  <table class="container-fluid d-flex flex-wrap p-2">

    <tr class="container col-12 text-center m-1 justify-content-center
    d-flex flex-nowrap p-0 pb-3">
      <!--    ARTICLE-->
      <div class="article-item col-12 container p-0 m-0">
        <div class="float-left col-4 m-0 pl-0">
          <img class="img-thumbnail img m-0" src="assets/images/article_1.jpg">
        </div>
        <div class="container d-flex flex-wrap float-right col-8 m-0 p-0 h-75">
          <div class="w-100 m-0">
            <h5 class="p-2 m-0 ">Milé zákazníčky !</h5>
          </div>
          <div class="text-dark text-decoration-none">
            <a class="text-left text-break text-decoration-none text-dark txt">
              Milé zákazníčky😇
              Všetkým vám prajeme úspešný rok 2021...💫
              Dnes sedím a premýšľam, čo nás čaká...čo nás neminie...
              Neviem síce momentálne povedať, kedy nás otvoria a ani neviem, či je vhodné dávať už teraz termíny....môže to byť od 25.1 môže to byť neskôr...dnes nikto netuší, kedy...🤷‍♀️
              Jedno ale viem...ďakujem , že ste súčasťou nášho salónu už niekoľko rokov🙏...za toto obdobie som si uvedomila mnoho vecí....ja a samozrejme my ako tím, sa určite budeme snažiť aj tento rok skvalitnovať naše služby..prinášať Vám všetkým novinky, ktoré mám v pláne.. verím, že sa všetko podarí🙏 verím, že aj tento rok bude pre nás všetkých jeden z tých zapamätateľných..💗 verte, že pokiaľ sa budete snažiť, dosiahnete toho oveľa viac ako si myslíte..všetko je to iba o vašom vnútornom nastavení...
              Pevne verím, že čoskoro sa opäť vidíme v plnej kráse s dobrou pozitívnou energiou ...🍀
            </a>
          </div>
        </div>
        <div class="m-0 col-12 p-0">
          <button class="w-100 h-100 pb-2 button-bottom text-center align-content-center">
            <a>Čítať viacej ...</a>
          </button>
        </div>
      </div>
    </tr>


    <tr class="container col-12 text-center m-1 justify-content-center
    d-flex flex-nowrap p-0 pb-3">
      <!--    ARTICLE-->
      <div class="article-item col-12 container p-0 m-0">
        <div class="float-left col-4 m-0 pl-0">
          <img class="img-thumbnail img m-0" src="assets/images/article_1.jpg">
        </div>
        <div class="container d-flex flex-wrap float-right col-8 m-0 p-0 h-75">
          <div class="w-100 m-0">
            <h5 class="p-2 m-0 ">Milé zákazníčky !</h5>
          </div>
          <div class="text-dark text-decoration-none">
            <a class="text-left text-break text-decoration-none text-dark txt">
              Milé zákazníčky😇
              Všetkým vám prajeme úspešný rok 2021...💫
              Dnes sedím a premýšľam, čo nás čaká...čo nás neminie...
              Neviem síce momentálne povedať, kedy nás otvoria a ani neviem, či je vhodné dávať už teraz termíny....môže to byť od 25.1 môže to byť neskôr...dnes nikto netuší, kedy...🤷‍♀️
              Jedno ale viem...ďakujem , že ste súčasťou nášho salónu už niekoľko rokov🙏...za toto obdobie som si uvedomila mnoho vecí....ja a samozrejme my ako tím, sa určite budeme snažiť aj tento rok skvalitnovať naše služby..prinášať Vám všetkým novinky, ktoré mám v pláne.. verím, že sa všetko podarí🙏 verím, že aj tento rok bude pre nás všetkých jeden z tých zapamätateľných..💗 verte, že pokiaľ sa budete snažiť, dosiahnete toho oveľa viac ako si myslíte..všetko je to iba o vašom vnútornom nastavení...
              Pevne verím, že čoskoro sa opäť vidíme v plnej kráse s dobrou pozitívnou energiou ...🍀
            </a>
          </div>
        </div>
        <div class="m-0 col-12 p-0">
          <button class="w-100 h-100 pb-2 button-bottom text-center align-content-center">
            <a>Čítať viacej ...</a>
          </button>
        </div>
      </div>
    </tr>

    <tr class="container col-12 text-center m-1 justify-content-center
    d-flex flex-nowrap p-0 pb-3">
      <!--    ARTICLE-->
      <div class="article-item col-12 container p-0 m-0">
        <div class="float-left col-4 m-0 pl-0">
          <img class="img-thumbnail img m-0" src="assets/images/article_1.jpg">
        </div>
        <div class="container d-flex flex-wrap float-right col-8 m-0 p-0 h-75">
          <div class="w-100 m-0">
            <h5 class="p-2 m-0 ">Milé zákazníčky !</h5>
          </div>
          <div class="text-dark text-decoration-none">
            <a class="text-left text-break text-decoration-none text-dark txt">
              Milé zákazníčky😇
              Všetkým vám prajeme úspešný rok 2021...💫
              Dnes sedím a premýšľam, čo nás čaká...čo nás neminie...
              Neviem síce momentálne povedať, kedy nás otvoria a ani neviem, či je vhodné dávať už teraz termíny....môže to byť od 25.1 môže to byť neskôr...dnes nikto netuší, kedy...🤷‍♀️
              Jedno ale viem...ďakujem , že ste súčasťou nášho salónu už niekoľko rokov🙏...za toto obdobie som si uvedomila mnoho vecí....ja a samozrejme my ako tím, sa určite budeme snažiť aj tento rok skvalitnovať naše služby..prinášať Vám všetkým novinky, ktoré mám v pláne.. verím, že sa všetko podarí🙏 verím, že aj tento rok bude pre nás všetkých jeden z tých zapamätateľných..💗 verte, že pokiaľ sa budete snažiť, dosiahnete toho oveľa viac ako si myslíte..všetko je to iba o vašom vnútornom nastavení...
              Pevne verím, že čoskoro sa opäť vidíme v plnej kráse s dobrou pozitívnou energiou ...🍀
            </a>
          </div>
        </div>
        <div class="m-0 col-12 p-0">
          <button class="w-100 h-100 pb-2 button-bottom text-center align-content-center">
            <a>Čítať viacej ...</a>
          </button>
        </div>
      </div>
    </tr>

    <tr class="container col-12 text-center m-1 justify-content-center
    d-flex flex-nowrap p-0 pb-3">
      <!--    ARTICLE-->
      <div class="article-item col-12 container p-0 m-0">
        <div class="float-left col-4 m-0 pl-0">
          <img class="img-thumbnail img m-0" src="assets/images/article_1.jpg">
        </div>
        <div class="container d-flex flex-wrap float-right col-8 m-0 p-0 h-75">
          <div class="w-100 m-0">
            <h5 class="p-2 m-0 ">Milé zákazníčky !</h5>
          </div>
          <div class="text-dark text-decoration-none">
            <a class="text-left text-break text-decoration-none text-dark txt">
              Milé zákazníčky😇
              Všetkým vám prajeme úspešný rok 2021...💫
              Dnes sedím a premýšľam, čo nás čaká...čo nás neminie...
              Neviem síce momentálne povedať, kedy nás otvoria a ani neviem, či je vhodné dávať už teraz termíny....môže to byť od 25.1 môže to byť neskôr...dnes nikto netuší, kedy...🤷‍♀️
              Jedno ale viem...ďakujem , že ste súčasťou nášho salónu už niekoľko rokov🙏...za toto obdobie som si uvedomila mnoho vecí....ja a samozrejme my ako tím, sa určite budeme snažiť aj tento rok skvalitnovať naše služby..prinášať Vám všetkým novinky, ktoré mám v pláne.. verím, že sa všetko podarí🙏 verím, že aj tento rok bude pre nás všetkých jeden z tých zapamätateľných..💗 verte, že pokiaľ sa budete snažiť, dosiahnete toho oveľa viac ako si myslíte..všetko je to iba o vašom vnútornom nastavení...
              Pevne verím, že čoskoro sa opäť vidíme v plnej kráse s dobrou pozitívnou energiou ...🍀
            </a>
          </div>
        </div>
        <div class="m-0 col-12 p-0">
          <button class="w-100 h-100 pb-2 button-bottom text-center align-content-center">
            <a>Čítať viacej ...</a>
          </button>
        </div>
      </div>
    </tr>

  </table>


</div>


</body>
