<nav class="navbar navbar-expand-lg navbar-light bg-light bordered container p-0 m-0
 col-12 w-100 " >
  <div class="container d-flex">
      <button class="navbar-toggler col-xs-12 w-100 buttonBorder" type="button" data-toggle="collapse"
              data-target="#navbarsExample10" aria-controls="#navbarsExample10" aria-expanded="false"
              aria-label="Toggle navigation" (click)="collapse()">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>

  <!--logo PART-->
<!--    <img src="../../assets/logos/Logo.png" class="logoImg img-fluid col-1">-->


  <div class="collapse navbar-collapse justify-content-center w-100 col-12" id="navbarsExample10" >
    <ul class="navbar-nav col-12 justify-content-center  w-100 col-12">
      <li class="nav-item justify-content-center">
        <a class="nav-link text-center"  data-toggle="collapse" data-target=".navbar-collapse.show" (click)="selectItem('Úvod')"  routerLink="/">Úvod</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center"  data-toggle="collapse" data-target=".navbar-collapse.show" (click)="selectItem('O nás')"  routerLink="/about-us">O nás</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center"  data-toggle="collapse" data-target=".navbar-collapse.show" (click)="selectItem('Služby')"   routerLink="/services">Služby</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center"  data-toggle="collapse" data-target=".navbar-collapse.show"  (click)="selectItem('Cenník')"   routerLink="/pricelist">Cenník</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center"  data-toggle="collapse" data-target=".navbar-collapse.show"  (click)="selectItem('Naša práca')"   routerLink="/work">Naša práca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" data-toggle="collapse" data-target=".navbar-collapse.show"  (click)="selectItem('Novinky')"   routerLink="/news">Novinky</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center"  data-toggle="collapse" data-target=".navbar-collapse.show" (click)="selectItem('Partneri')"   routerLink="/news">Partneri</a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link text-center"  data-toggle="collapse" data-target=".navbar-collapse.show"  (click)="selectItem('Termíny')"   routerLink="/calendar">Termíny</a>
      </li>
      <li class="nav-item text-center ">
        <a class="nav-link text-center"  data-toggle="collapse" data-target=".navbar-collapse.show"  (click)="selectItem('Kontakt')" routerLink="/contact">Kontakt</a>
      </li>
    </ul>
  </div>
  <div class="nav-item text-center p-0 m-0 col-xs-12 w-100" id="secondHiddenElement">
    <a class="nav-link text-center" id="currentSelectedTab"> {{ this.currentSelectedItem }}
    </a>
  </div>
<!--  <div class="d-flex justify-content-center align-middle">-->
<!--    <a class="p-2 fa fa-facebook" href="https://www.facebook.com/AllegriaSalon/?ref=page_internal"></a>-->
<!--    <a class="p-2 fa fa-instagram" href="https://www.instagram.com"></a>-->
<!--    <a class="p-2 fa fa-youtube" href="https://www.youtube.com"></a>-->
<!--  </div>-->
<!--  subscribe-->
<!--  <div class="d-inline float-right pr-3">-->
<!--    <a class="p-2 fa fa-facebook" href="https://www.facebook.com/AllegriaSalon/?ref=page_internal"></a>-->
<!--    <a class="p-2 fa fa-instagram" href="https://www.instagram.com"></a>-->
<!--    <a class="p-2 fa fa-youtube" href="https://www.youtube.com"></a>-->
<!--  </div>-->
</nav>
<!--</body>-->
<!--</html>-->
