<!--<body>-->
  <div class="col-12 container-fluid d-flex flex-wrap">
<!--    vyber platby -->
    <div class="col-12 border mb-3">
      <h5>Vyber platby</h5>
      <div class="col-12 container d-flex flex-wrap justify-content-between">
        <!--      riadok-->
        <div class="container col-4 d-flex p-0 ml-0">
          <div class="d-flex container p-0 m-0">
            <input class="align-self-center align-midlle" type="checkbox" value="Dobierka" name="Dobierka">
            <div class="ml-1 align-self-center">Dobierka</div>
          </div>
        </div>
        <div class="col-8 d-flex container">
          <div class="text-muted text-center p-0">Dodanie do nasledujuceho dna</div>
        </div>
        <!--      riadok 2-->
        <div class="container col-4 d-flex p-0 ml-0">
          <div class="d-flex container p-0 m-0">
            <input class="align-self-center align-midlle" type="checkbox" value="Dobierka" name="Dobierka">
            <div class="ml-1 align-self-center">Platba kartou</div>
          </div>
        </div>
        <div class="col-8 d-flex container">
          <div class="text-muted text-center p-0">Dodanie do nasledujuceho dna</div>
        </div>
      </div>
    </div>


<!--    Vyber dopravy-->
    <div class="col-12 border mb-3">
      <h5>Zlavove kupony</h5>
      <div class="container d-flex col-12">
        <input >
        <button>Potvrdit</button>
      </div>
    </div>


  </div>

<!--</body>-->
