.small-navigation {
  min-height: 7vh !important;
  max-height: 7vh !important;
  justify-content: center !important;
  align-self: center !important;
}

ul {
  list-style: none;
  li {
    padding: 0px !important;
  }
  div a {
    text-decoration: None !important;
  }
}

.radius {
  border-radius: 5px 0px 0px 5px !important;
}


.basket-trail {
  background-color: #CCD2D8;
  color: #62717C;
  list-style: none;
}

