<div class="col-12 container-fluid d-flex flex-wrap border p-0 ml-0 mr-0 mb-2">
<!--  toto je fotka a mnozstvo-->
  <div class="container d-flex col-12 justify-content-center">
    <div class="col-6">
      <img src="assets/eshop/kozmetika.jfif" class="img-fluid img-item center">
    </div>
    <div class=" col-6 container d-flex flex-wrap justify-content-center">
      <h6 class="m-0 mt-1 text-center"> {{ basketItem.item?.name }}</h6>
      <h6 class="m-0">{{ basketItem.item.getPrice() | number : '.2' }} €</h6>
      <div class="mt-2 text-center align-content-center">Dodanie: {{ basketItem.deliveryDate}}</div>
    </div>
  </div>

<!--  tu bude popis-->
  <div class="col-12 mb-1">
    <div class="border-bottom col-12 text-center align-self-center"> {{ basketItem?.item?.description}}</div>
    <div class="border-bottom col-12 text-center align-self-center">{{ basketItem?.item?.description}}</div>
<!--    <div class="col-12 text-center align-self-center">Popis cislo tri</div>-->
  </div>


  <!--    mnozstvo - placeholder -->
  <div class="container d-flex col-12 darkBg">
    <div class="col-6 d-flex container mt-2 mb-2 ">
      <div class="col-6 pl-0 justify-content-start">
        <input class="pl-0 w-100" [value]="basketItem.quantity">
      </div>
      <div class="col-6 container d-flex">
        <button class="col-1" (click)="addQuantity(1)">+</button>
        <button class="col-1" (click)="addQuantity(-1)" [disabled]="lowerButtonDisabled()">-</button>
      </div>
    </div>
    <div class="container col-6  mt-2 mb-2">
      <div class="align-content-end float-right">{{ this.summaryPerQuantity() | number : '.2' }}€</div>
    </div>
  </div>

</div>app-basket-item

