<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="w-100 fixed-bottom container-fluid d-inline-flex justify-content-center align-middle
  p-0" id="my-bottom-navbar">
<!--  FIRST 3 IMAGES-->
  <div class="col-5 justify-content-center container d-flex justify-content-around">
    <a class="align-self-center">
      <mat-icon svgIcon="users"></mat-icon>
    </a>
    <a>
      <mat-icon svgIcon="place"></mat-icon>
    </a>
    <a>
      <mat-icon svgIcon="picture"></mat-icon>
    </a>
    <a>
      <mat-icon svgIcon="newspaper"></mat-icon>
    </a>
  </div>

<!--  BUTTON-->
  <div class="col-2 justify-content-center align-self-center p-0 m-0 text-center">
    <a class="justify-content-center" type="button"
       id="my-middle-button">
      <mat-icon svgIcon="x" id="my-middle-icon" inline="true"></mat-icon>
    </a>
  </div>

  <!--  LAST 3 IMAGES-->
  <div class="col-5 justify-content-center container d-flex justify-content-around">
    <a>
      <mat-icon svgIcon="cosmeticsBlack"></mat-icon>
    </a>
    <a>
      <mat-icon svgIcon="diploma"></mat-icon>
    </a>
    <a>
      <mat-icon svgIcon="hand-shake"></mat-icon>
    </a>
    <a>
      <mat-icon svgIcon="euro"></mat-icon>
    </a>
  </div>
</div>
