<link href="//db.onlinewebfonts.com/c/021f3eb1da35b2a042907dc870c00b9c?family=TwentiethCenturyW01-XBdCn" rel="stylesheet" type="text/css"/>

<body class="min-vh-100 h-100 col-xs-12">

<div class="container d-flex flex-wrap justify-content-center pb-4" id="header-of-page">
  <h3 class="text-center pt-3 col-12">
    Ponúkané služby
  </h3>
  <div class="col-12 text-dark text-center text-decoration-none  float-left">
    Salón alegria Vám poskytuje širokú škálu služieb, ako sú napríklad kozmetické služby, starostilovosť nechty,
    tetovanie obočia a mnohé dalšie služby.
  </div>
</div>

<!--CONTAINER-->
  <div class="container-fluid d-flex flex-wrap pt-3 pb-5" id="my-container">
<!--       *ngFor="let i of this.array"-->
    <!--    items-->
    <div class="col-12 justify-content-center pb-3">
      <img src="assets/images/obocie.jpg" class="img-fluid img-sized">
      <h4 class="text-center">Kozmetika</h4>
      <a class="text-dark text-decoration-none">Ultrazvukové ošetrenie pleti - Sonoforéza</a>
      <a class="text-black-50 text-decoration-none font-italic text-center">
        Sonoforéza je ultrazvukové vstrebávanie aktívnych látok do hĺbkových vrstiev pokožky.
        Pri tomto procese sa do tkaniva pomocou zvukových vĺn dostávajú molekuly medikamentu/
        kozmeceutika/séra. Pomocou sonoforézy sa dá dosiahnuť veľká rada kozmetických efektov.
        Vibráciou tkaniva vzniká trenie, ktoré vedie k žiadúcemu prehriatiu tkanív.
        Toto prehriatie spôsobuje uvoľnenie svalov, prekrvenie a redukuje a rozbíja
        krvné zrazeniny.</a>
    </div>


    <div class="col-12 justify-content-center pb-3">
      <img src="assets/images/obocie.jpg" class="img-fluid img-sized">
      <h4 class="text-center">Tetovanie obočia</h4>
      <a class="text-dark text-decoration-none">Ultrazvukové ošetrenie pleti - Sonoforéza</a>
      <a class="text-black-50 text-decoration-none font-italic text-center">
        Sonoforéza je ultrazvukové vstrebávanie aktívnych látok do hĺbkových vrstiev pokožky.
        Pri tomto procese sa do tkaniva pomocou zvukových vĺn dostávajú molekuly medikamentu/
        kozmeceutika/séra. Pomocou sonoforézy sa dá dosiahnuť veľká rada kozmetických efektov.
        Vibráciou tkaniva vzniká trenie, ktoré vedie k žiadúcemu prehriatiu tkanív.
        Toto prehriatie spôsobuje uvoľnenie svalov, prekrvenie a redukuje a rozbíja
        krvné zrazeniny.</a>
    </div>

    <div class="col-12 justify-content-center pb-3">
      <img src="assets/images/obocie.jpg" class="img-fluid img-sized">
      <h4 class="text-center">Tetovanie obočia</h4>
      <a class="text-dark text-decoration-none">Ultrazvukové ošetrenie pleti - Sonoforéza</a>
      <a class="text-black-50 text-decoration-none font-italic text-center">
        Sonoforéza je ultrazvukové vstrebávanie aktívnych látok do hĺbkových vrstiev pokožky.
        Pri tomto procese sa do tkaniva pomocou zvukových vĺn dostávajú molekuly medikamentu/
        kozmeceutika/séra. Pomocou sonoforézy sa dá dosiahnuť veľká rada kozmetických efektov.
        Vibráciou tkaniva vzniká trenie, ktoré vedie k žiadúcemu prehriatiu tkanív.
        Toto prehriatie spôsobuje uvoľnenie svalov, prekrvenie a redukuje a rozbíja
        krvné zrazeniny.</a>
    </div>

  </div>
</body>
