body {
  //background-image: url('/assets/images/tittle3.jpg');
  background-color: whitesmoke !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 375px 375px;
  justify-content: center !important;
}
#article-cover {
  background-color: white !important;
  max-width: 1000px !important;
  align-content: center !important;
  justify-self: center !important;
  width: 100% !important;
  //margin-left: 25% !important;
  //margin-right: 25% !important;
}

ul li{
  display: inline;
  list-style: circle;
}

.iconNavigation {
  height: 10px !important;
  width: 10px !important;
}

.my-image {
  border-radius: 10px 10px 0px 0px;
  //max-height: 285px !important;
}

.logo-div {
  background-color: white !important;
  background-image: url('./download.jpg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-position-y: top !important;
  height: 350px !important;
}

.btn {
  background-color: white !important;
  border-color: darkgreen !important;
  border-radius: 10px 10px 10px 10px ;
}

.galery-button {
  border-radius: 0px 0px 10px 10px !important;
}

.expander {
  height: 67% !important;
}

.img {
  max-height: 250px !important;
}

h3 {
  color: #BD6F29 !important;
  font-style: italic ;
}
