<body>
<div class="container-fluid col-xs-12 h-auto justify-content-center
 align-content-center pt-2 m-0 pb-4" >
<!--  <div class="col-xs-12 text-center headerText p-5" id="PageCover">-->
<!--    Vitajte v salóne Allegria!-->
<!--  </div>-->

  <div class="col-xs-12 container-fluid p-2">
<!--    ARTICLE-->
    <div class="col-xs-12 text-center article-odd">
      <a>
        Tešíme sa na Vás v naších vynovených priestoroch. V našom salóne si prídete na svoje!
        S kozmetickou značkou Jannsen Vám vyčaríme úsmev na tvári.
      </a>
    </div>

    <div class="col-xs-12 justify-content-center p-1">
      <img class="img-fluid p-0 my-image"  src="assets/images/salon/image.jpeg">
      <div class="col-xs-12">
        <button class="col-xs-12 w-100 my-button pt-0" type="button">
          <span>Prejst do galerie
            <span>
              <mat-icon svgIcon="arrow-right">
              </mat-icon>
            </span>
          </span>
        </button>
      </div>
    </div>

  </div>

<!--  koniec menu-->
</div>
<app-news></app-news>
</body>


