<body>
<!--  logo a uvod-->

<div class="container-fluid h-auto justify-content-center
 align-content-center" id="article-cover">
  <div class="col-xs-12 container-fluid p-2">
<!--    ARTICLE-->
    <div class="col-12 align-self-center ">
      <h3 class="text-center font-weight-bold border-bottom ">
        Naše priestory
      </h3>
    </div>

    <div class="col-xs-12 text-center ">
      <a class="text-dark text-decoration-none">
        Naše priestory sa nachádzajú na sídlisku vlčince
        v priestoroch obytných domov arboreum
      </a>
    </div>

    <div class="col-xs-12 justify-content-center p-0 m-0">
      <div class="container d-flex p-0 m-0 col-12">
        <img class="img-thumbnail p-2 my-image col-3"  src="assets/images/salon/image.jpeg">
        <img class="img-thumbnail p-2 my-image col-3"  src="assets/images/salon/image.jpeg">
        <img class="img-thumbnail p-2 my-image col-3"  src="assets/images/salon/image.jpeg">
        <img class="img-thumbnail p-2 my-image col-3"  src="assets/images/salon/image.jpeg">
      </div>
      <div class="col-xs-12">
        <button
          class="btn-primary border btn galery-button btn-block"
          type="button">
          <a class="text-black-50 text-decoration-none">Galéria
          </a>
        </button>
      </div>
    </div>

  </div>

<!--  koniec menu-->
</div>
<app-news></app-news>
</body>


