.logo-div {
  background-color: white !important;
  //background-image: url('download_logo.jpg') !important;
  background-image: url('Second.png') !important;
  //background-size: 290px 110px !important; ;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-position-y: center !important;
  height: 100px !important;
}

.btn {
  background-color: white !important;
  border-color: darkgreen !important;
  border-radius: 10px 10px 10px 10px ;
}

.galery-button {
  border-radius: 0px 0px 10px 10px !important;
}

.expander {
  height: 43% !important;
}
