<body>
  <div class="logo-div justify-content-center text-center col-12 container-fluid">
<!--    <div class="col-12 expander">-->
<!--    </div>-->

<!--    <div class="col-12 desc ">-->
<!--      <a class="text-black-50 col-12 text-decoration-none float-left">Vitajte na stránke salónu alegria.</a>-->
<!--      <a class="text-black-50 col-12 text-decoration-none float-left mb-3">Prezrite si našu ponuku</a>-->
<!--    </div>-->
<!--    <button class="btn-primary border btn btn-block" routerLink="/services">-->
<!--      <a class="text-black-50 text-decoration-none">Naša Ponuka</a>-->
<!--    </button>-->
    <div class="d-inline float-right pr-3">
      <a class="p-2 fa fa-facebook" href="https://www.facebook.com/AllegriaSalon/?ref=page_internal"></a>
      <a class="p-2 fa fa-instagram" href="https://www.instagram.com"></a>
      <a class="p-2 fa fa-youtube" href="https://www.youtube.com"></a>
    </div>
  </div>




</body>
