<body class="min-vh-100">
  <div class="container w-100 d-flex flex-wrap">
<!--    item-->
    <div class="container d-inline-block">
      <h4 class="headerText text-center mt-2">Obocia</h4>
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
    </div>
    <!--    item-->
    <div class="container d-inline-block">
      <h4 class="headerText text-center mt-2">Nechty</h4>
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
    </div>
    <!--    item-->
    <div class="container d-inline-block">
      <h4 class="headerText text-center mt-2">Depilacie</h4>
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
    </div>
    <!--    item-->
    <div class="container d-inline-block">
      <h4 class="headerText text-center mt-2">Opalovanie</h4>
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
      <img src="assets/images/obocie.jpg" class="img-thumbnail img">
    </div>
  </div>
</body>
