html {
  height: 100%;
  margin: 0;
}
body {
  height: auto;
}
:root {
  --goldMenu: #F0D7A4;
  --goldSelectedButtonBorder: #e9cc70;
  --goldHeaders: #a3684d;
  --goldText: #A3684D;
  --goldBg-1: #DAEAD9;
  --goldBg-2: #E4F3E7;
  --greens: #EDC7B7;
  --article-bg: #EEE2DC;
  --article-bg-2: #faf1ed;
  //--lightGoldBg:  #fcf8e6;
  --lightGoldBg:  #fcf6d9;
  //--lightGoldBg:  #579168;
  --lightGoldBgInside:  #fcf6d9;
  --lightBg:  #f7f5e9;

  --goldBorder:  #EDC7B7;
  --goldBorderOnClick:  #EDC7B7;

  //basker
  --greyLightBasketItem: #F4F5F5;
  --greyDarkerBasketBuy: #666565;
  --greenButtonBasket: #0a8c0a;
}

* {
  font-family: 'Oswald', sans-serif;
  font-family: "Gill Sans", sans-serif;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.4rem;
  }
}
@media (max-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.headerText {
  text-transform: uppercase;
  font-style: italic;
  color: var(--goldHeaders);
}

.my-button {
  background-color: var(--goldBg-1) !important;
  //border-color: #579168!important;
  color: var(--goldHeaders) !important;
  //transition: 0.8s;
}

.article-odd {
  background-color: #e9f5ed !important;
  border-radius: 10px 10px 10px 0px;

  a {
    opacity: 100% !important;
  }
}

.article-item {
  border-radius: 45px 45px 40px 40px !important;
  background-color: white !important;
  box-shadow: 0px 0px 8px #f2d8a2 !important;
}

h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
